@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Teste"]</h2>


<p>Use this page to detail your site's privacy policy.</p>

<address>
    <strong>Linkedin: </strong> <a href="https://github.com/gustavogodinho">Gustavo Godinho</a>
</address>
